@media screen and (min-width: 769px) and (max-width: 1198px){
	.ads-detail {
    padding: 20px 50px;
	}
	.eyesigh {
    margin: 10px 58px;
	}
	#Brandd{
		visibility: hidden;
	}

	
}

@media screen and (min-width: 769px) and (max-width: 850px){
	#Brandd{
		visibility: hidden !important;
	}
}

@media screen and (min-width: 766px) and (max-width: 769px){
	#Brandd{
		visibility: hidden !important;
	}
}

@media screen and (min-width: 0px) and (max-width: 766px){
	.ads-detail{
		padding: 20px 50px;
	}
	#footer {    
    min-height: 284px;
    clear: both; 
	}
	#det-mob{
		margin: 25px 0;
		
	}
	#myplayer{
		position: absolute;
	}
	.eyesigh {
    margin: 10px 58px;
	}
	.star {
    padding: 0 97px;
	}
	#ads{
		background: #333 !important;
	}
	#podcast{
		background: #444 !important;
	}
		
}

@media screen and (min-width:321px) and (max-width: 360px){
	.ads-detail {
    padding: 6px 17px;
	}
	.ads-detail h3 {
    font-size: 16px;
	}
	#footer{
		min-height: 315px;
		clear: both; 
	}
	#playy {
    font-size: 56px;
	}
	.playyy {
    font-size: 27px;
	}
	#det-mob{
	margin:25px 0;
	position: relative;
    border: 0;
    margin-top: 230px;
	}
	#myplayer{
		position: absolute;
	}
	.eyesigh{
	margin: 10px 40px;
	}
	#cover{
	position: absolute;
    top: 0;
    margin-bottom: 104px;
	}
	.star {
    padding: 0 76px;
	}
	#ads{
		background: #333 !important;
	}
	#podcast{
		background: #444 !important;
	}
	#Brandd{
		visibility: visible;
	}
}

@media screen and (min-width:1px) and (max-width: 320px){
	.ads-detail h3 {
    font-size: 11px;
	}
	.ads-detail {
    padding: 7px 20px;
	}
	#footer{
		min-height: 420px;
		clear: both; 
	}
	#playy {
    font-size: 46px;
	}
	.playyy {
    font-size: 18px;
	}
	.mp3-detail ul{
		padding: 7px;
	}
	.playyyy {
    font-size: 13px;
	}
	.mp3-details ul {
    padding: 9px;
	}
	.playyyy {
    font-size: 13px;
    float: right;
    right: 0;
	}
	#det-mob{
	margin:22px 0;
	position: relative;
    bottom: 0;
    margin-top: 230px;
	}
	#myplayer {
    position: absolute;
	}
	.eyesigh{
	margin: 10px 20px;
	}
	#cover{
	position: absolute;
    top: 0;
    margin-bottom: 100px;
	}
	.star {
    padding: 0 58px;
	}
	#ads{
		background: #333 !important;
	}
	#podcast{
		background: #444 !important;
	}
	#Brandd{
		visibility: visible;
	}
}


@media screen and (min-width:361px) and (max-width: 375px){
	.ads-detail {
    padding: 7px 18px;
	}
	.ads-detail h3 {
    font-size: 17px;
	}
	#footer {    
    min-height: 303px;
    clear: both; 
	}
	#det-mob{
		margin:30px 0;
		position: relative;
		bottom: 0;
		margin-top: 230px;
	}
	#playy {
    font-size: 46px;
    margin: 13px 0;
	}
	#myplayer {
    position: absolute;
	}
	.playyy {
    font-size: 33px;
	}
	.eyesigh{
	margin: 10px 42px;
	}
	#cover{
	position: absolute;
    top: 0;
    margin-bottom: 100px;
	}
	.star {
    padding: 0px 84px;
	}
	#ads{
		background: #333 !important;
	}
	#podcast{
		background: #444 !important;
	}
	#Brandd{
		visibility: visible;
	}
}
@media screen and (min-width:375px) and (max-width: 420px){
	.ads-detail {
    padding: 5px 20px;
	}
	#footer {
    min-height: 316px;
    clear: both; 
	}
	.playyy{
		font-size: 30px;
	}
	#myplayer{
		position: absolute;
	}
	#det-mob{
		margin: 25px 0;
		position: relative;
		bottom: 0;
		margin-top: 230px;
	}
	.eyesigh{
	margin: 10px 65px;
	}
	#cover{
	position: absolute;
    top: 0;
    margin-bottom: 100px;
	}
	.star {
    padding: 0 83px;
	}
	#ads{
		background: #333 !important;
	}
	#podcast{
		background: #444 !important;
	}
	#Brandd{
		visibility: visible;
	}
}
@media screen and (min-width:421px) and (max-width: 481px){
	#footer{
		min-height:322px;
		clear: both; 
	}
	#myplayer{
		position: absolute;
	}
	#det-mob{
		margin: 25px 0;
		position: relative;
		bottom: 0;
		margin-top: 230px;
	}
	.eyesigh{
	margin: 10px 88px;
	}
	#cover{
	position: absolute;
    top: 0;
    margin-bottom: 100px;
	}
	.star {
    padding: 0 124px;
	}
	#ads{
		background: #333 !important;
	}
	#podcast{
		background: #444 !important;
	}
	#Brandd{
		visibility: visible;
	}
}
@media screen and (min-width:649px) and (max-width: 850px){
	
	#myplayer{
		position: absolute;
	}
	#det-mob{
		margin: 25px 0;
		width: 50% !important;
	}
	#cover{
		width: 50% !important;
	}
	#ads{
		background: #333 !important;
	}
	#podcast{
		background: #444 !important;
	}
	#Brandd{
		visibility: visible;
	}
}
@media screen and (min-width:599px) and (max-width: 648px){
	
	#myplayer{
		position: absolute;
	}
	#det-mob{
		margin: 25px 0;
		width: 50% !important;
	}
	#cover{
		width: 50% !important;
	}
	#ads{
		background: #333 !important;
	}
	#podcast{
		background: #444 !important;
	}
	#Brandd{
		visibility: visible;
	}
	
}
@media screen and (min-width:482px) and (max-width: 563px){
	.eyesigh {
    margin: 10px 125px;
}
	#det-mob{
		position: relative;
		bottom: 0;
		margin-top: 230px;
	}
	#cover{
	position: absolute;
    top: 0;
    margin-bottom: 100px;
	}
	#ads{
		background: #333 !important;
	}
	#podcast{
		background: #444 !important;
	}
	#Brandd{
		visibility: visible;
	}
}
@media screen and (min-width:564px) and (max-width: 594px){
	.eyesigh {
    margin: 10px 136px;
	}
	#det-mob{
		position: relative;
		bottom: 0;
		margin-top: 230px;
	}
	#cover{
	position: absolute;
    top: 0;
    margin-bottom: 100px;
	}
	#ads{
		background: #333 !important;
	}
	#podcast{
		background: #444 !important;
	}
	#Brandd{
		visibility: visible;
	}
}

@media screen and (min-width: 691px) and (max-width: 721px){
	#footer {
    min-height: 285px !important;
	}

}